.root {
  padding: 64px 16px;

  .login_button {
    margin-top: 20px;
  }

  .navigation_items_container {
    margin-top: 32px;
  }

  .divider {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
