.not_found_container {
  margin-top: 32px;

  .body_text {
    margin-top: 32px;
    width: 200px;
    text-align: center;
  }
}

.content_container {
  margin-top: 32px;
}

.visits_container {
  border: 1px solid purple;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
}
