.root {
  border-radius: 16px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 32px 40px !important;

  .card_header {
    width: 100%;
    max-width: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card_children {
    margin-top: 32px;
  }

  .info_label {
    width: 100%;
  }
}
